@import ~sass/variables

:root
    --background-color: #F9F9F9
    --dark: #333333
    --dark2: #C7C7C7
    --darkHover: #ebebeb
    --border: #F5F5F5
    --accent: #0085FF
    --textInAccent: white
    
[data-theme="dark"]
    --background-color: #1A1A22
    --dark: #e2e2e7
    --dark2: #4f5463
    --darkHover: #2d3039
    --border: #F5F5F5
    --accent: #0085FF
    --textInAccent: white

*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    // &::selection
    //     background: $accent
    //     color: white

html
    font-size: 62.5%

body
    font-size: 1.4rem

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: Metropolis, sans-serif
    font-weight: 500
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: var(--dark)
    -webkit-overflow-scrolling: touch
    overflow: hidden
    background-color: var(--background-color)

button
    border: none
    background: none
    cursor: pointer
    font-family: inherit
    color: inherit

input
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s


@-webkit-keyframes autofill 
    to 
    color: black
    background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit


.spinner
    border-style: solid
    border-color: var(--accent) var(--accent) var(--accent) transparent
    animation: spin 0.3s linear infinite
    border-radius: 50%
    height: 25px
    width: 25px
    border-width: 3px
    margin: 0 auto


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
