button
    background: var(--darkHover)
    border-radius: 10rem
    padding: .75rem
    font-size: 1.6rem
    position: relative
    z-index: 100
    &.active
        background: var(--accent)
        span
            transform: translateX(2.5rem)
        i
            color: white
            opacity: .3
    i
        pointer-events: none
        color: var(--dark)
        opacity: 0.4
    i:first-of-type
        margin-right: 1rem
    span
        pointer-events: none
        position: absolute
        top: 0.5rem
        left: 0.5rem
        height: 2.25rem
        width: 2.25rem
        border-radius: 50%
        background: white
        z-index: 2
