.maxWidth
    width: 100%
    max-width: 500px
    position: relative
    padding-top: 8rem

h2
    font-weight: 800
    margin-bottom: 1.5rem
    font-size: 2.5rem
    display: flex
    justify-content: space-between
    align-items: center

h1
    font-weight: 800
    font-size: 4rem
    margin-bottom: 5rem
    width: 100%
    resize: none
    display: flex
    align-items: center
    justify-content: space-between
    button
        position: relative
        border-radius: 1rem
        background: var(--darkHover)
        height: 50px
        width: 50px
        &:hover
            background: var(--dark2)
            i
                opacity: 0.8
        i
            color: var(--dark)
            opacity: 0.4
            font-size: 2rem
            position: relative
            top: .1rem
            pointer-events: none
        input
            cursor: pointer
            height: 100%
            width: 100%
            position: absolute
            top: 0
            left: 0
            opacity: 0
        

textarea
    width: 100%
    resize: none
    font: inherit
    font-size: 1.8rem
    border: none
    background: none
    opacity: 0.6
    line-height: 2.5rem
    overflow: hidden
    min-height: 200px
    color: inherit
    margin-bottom: 2rem

.imgCont
    margin-bottom: 2rem
    position: relative
    &:hover .delete
        pointer-events: all
        opacity: 1

.delete
    position: absolute
    top: 1rem
    right: 1rem
    padding: 1rem
    background: var(--background-color)
    height: 30px
    width: 30px
    display: flex
    justify-content: center
    align-items: center
    border-radius: 50%
    pointer-events: none
    opacity: 0
    cursor: pointer
    i
        font-size: 1.8rem
        color: var(--dark)

img
    width: 100%
    border-radius: 1rem

@media screen and ( max-width: 950px )
    textarea
        min-height: 150px
