
.controls
    display: flex
    align-items: center
    justify-content: space-between
    button
        width: 40px
        height: 40px
        padding: .5rem
        font-size: 1.5rem

    h2
        flex-grow: 1
        text-align: center
        font-weight: 800
        font-size: 1.6rem
    &:first-of-type
        margin-bottom: 1rem    
        
.calendar 
    width: 100%
    height: 325px

.grid
    display: grid
    grid-template-columns: repeat(7, 1fr)

.block 
    width: 45px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    position: relative
    &.empty
        opacity: 0.15
    &.selectedDay .notEmpty
        background: var(--accent)
        color: var(--textInAccent)

.weekday
    font-weight: 800
    opacity: 0.5
    font-size: 1.2rem

.daysGrid
    height: 240px
    display: flex
    position: relative

.spinner
    position: absolute
    left: calc(50% - 12.5px)
    top: calc(50% - 20px)

.day
    font-weight: 700
    height: 40px
    width: 40px
    display: flex
    justify-content: center
    align-items: center

.notEmpty
    cursor: pointer
    border-radius: 50%
    &.complete
        color: var(--accent)
    &:hover
        background: var(--darkHover)
    
