$padding: 4rem
$calWidth: 315px

.container
    height: 100%
    overflow-y: auto
    position: relative

dark-mode-toggle
    position: absolute
    top: 2rem
    right: 2rem

.logout
    position: absolute
    top: 2rem
    left: 2rem
    font-weight: bold
    cursor: pointer
    padding: 0.5rem 1rem
    background: rgba(255,255,255,0.2)
    border-radius: 50rem
    z-index: 1

.maxWidth
    max-width: 1600px
    margin: auto
    padding: $padding
    overflow-y: auto
    display: flex
    position: relative

.calendarSpace
    width: 0

calendar
    display: flex
    align-items: center
    position: fixed
    height: 100%
    width: $calWidth
    top: 0

app-editor
    flex-grow: 1
    display: flex
    justify-content: center

@media screen and ( max-width: 1350px )
    .calendarSpace
        width: $calWidth

@media screen and ( max-width: 950px )
    .calendarSpace
        width: 0
    .maxWidth
        display: block
    calendar
        margin: auto
        display: block
        position: static
        height: initial
    app-editor
        margin: auto

@media screen and ( max-width: 500px )
    .maxWidth
        padding-top: 5rem

@media screen and ( max-width: 400px )
    .maxWidth
        padding: 5rem 2rem 4rem 2rem
